<!-- src/main/resources/templates/footer.html -->
<footer class="bg-dark text-white text-center py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Social Media Links -->
                <div class="mb-3">
                    <a href="https://www.instagram.com" class="text-white mx-3" target="_blank" title="Instagram">
                        Instagram
                    </a>
                    <a href="https://www.facebook.com" class="text-white mx-3" target="_blank" title="Facebook">
                        Facebook
                    </a>
                    <a href="https://www.tiktok.com" class="text-white mx-3" target="_blank" title="TikTok">
                        TikTok
                    </a>
                </div>
                <div>
                    <p class="m-0">&copy; La Abuelita Digital</p>
                </div>
            </div>
        </div>
    </div>
</footer>