<div class="content">
    <h1 th:text="|Bienvenido a ${name}!|"></h1>
    <div sec:authorize="isAuthenticated()">
        <h1 th:inline="text">Hola <span th:remove="tag" sec:authentication="name"></span>!</h1>

        <h2>Contenido privado</h2>
        <ul>
            <li>Detalle de recetas</li>

        </ul>
    </div>

    <div>
        <h3>Contenido público</h3>
        <ul>
            <li>Recetas mas recientes </li>
            <li>Banner</li>
            <li>Login</li>
        </ul>
    </div>
</div>